@import url("https://fonts.googleapis.com/css?family=Roboto:wght@500");
body {
  padding: 0;
  margin: 0;
  background: #209cee;
  font-family: "Roboto";
  color: #696969;
}

header {
  font-family: "Roboto";
}

.centered{
  text-align: center;
}

.todo-list {
  display: block;
  background: #e8e8e8;
  border-radius: 4px;
  width: 80%;
  padding: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.todo {
  display: grid;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  margin: 6px;
  padding: 3px 10px;
  grid-template-columns: 80fr, 20fr;
  column-gap: 10px;
}

.todo_Content_Container{
  display: grid;
  grid-template-columns: 40%, 40%, 20%;
  grid-template-rows: 20%, 80%;
  background: #fff;
  font-size: 12px;
  justify-content: space-between;
  grid-row: 1;
  grid-column: 1;
  column-gap: 5px;
  row-gap: 5px;
}

.todo_Title_Container {
  margin-top: auto;
  margin-bottom: auto;
  padding: 2px;
  grid-row: 1;
  grid-column: 1;
}

.todo_Description_Container {
  margin-top: auto;
  margin-bottom: auto;
  padding: 2px;
  grid-row: 2;
  grid-column: 1 / span 2;
}

.todo_Details_Container{
  margin-top: auto;
  margin-bottom: auto;
  padding: 2px;
  grid-row: 1 / span 2;
  grid-column: 3;
  grid-template-rows: repeat(3, 1fr);
}

.todo_DateCreated_Container {
  margin-top: auto;
  margin-bottom: auto;
  padding: 2px;
  grid-row: 3;
  grid-column: 2;
}

.todo_Action_Container{
  grid-template-rows: 50fr, 50fr;
  grid-column: 2;
}

.todo_Checkbox_Container {
  margin: auto;
  grid-row: 1;
}

.todo_Delete_Button{
  grid-row: 2;
}

.todo_Author_Container {
  margin-top: auto;
  margin-bottom: auto;
  padding: 2px;
  grid-row: 1;
  grid-column: 2;
}
.todo_CompleteStatus_Container {
  margin-top: auto;
  margin-bottom: auto;
  padding: 2px;
  grid-row: 2;
  grid-column: 3;
}

.todo_DateCompleted_Container {
  margin-top: auto;
  margin-bottom: auto;
  padding: 2px;
  grid-row: 3;
  grid-column: 3;
  border: black;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin: 6px;
}

button:disabled {
  background-color: #bcbcbc;
  color: #999999;
}

.form_CreateTodoHeader {
  grid-row: 1;
  grid-column: 2;
  margin: 5px;
  text-align: center;
  font-size: 30px;
}

.form_CreateTodoTitle {
  grid-row: 3;
  grid-column: 2;
  width: auto;
  padding: 3px;
  margin: 3px;
}

.form_CreateTodoTitle_Input {
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.form_CreateTodoDescription {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  grid-column: 2;
  grid-row: 4;
  margin: 5px;
}

.form_CreateTodoAuthor {
  grid-column: 2;
  grid-row: 2;
  margin: 5px;
}

.form_CreateTodoSubmit {
  display: block;
  grid-column: 2;
  grid-row: 5;
  margin-left: auto;
  margin-right: auto;
}

.form_CreateTodo {
  display: grid;
  max-height: 400px;
  grid-template-columns: 10fr 80fr 10fr;
  grid-template-rows: 15fr 10fr 10fr 60fr 5fr;
}

.wrapper_UserBar {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  background: #e8e8e8;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.userBar_Button_Container {
  display: flex;
  align-self: end;
}

input[type="submit"] {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

input[type="submit"]:disabled {
  background-color: #bcbcbc;
  color: #999999;
}
